/* --------colors-------- */
// background
$cl-main-bg: #202124;
$cl-additional-bg: #27272a;
$cl-contrast-bg: #a1a1a1;

// foreground
$cl-main-fg: #fff;
$cl-additional-fg: #a1a1a1;

// borders
$cl-border: #414144;

/* --------sizes-------- */
$header-height: 44px;
