@use './variables' as v;
@use './libs/normalise';
@use './fonts';

:root {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;

  color: v.$cl-main-fg;
  background-color: v.$cl-main-bg;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1920px;
  margin: 0 auto;
}

body {
  margin: 0;
  min-width: 1024px;
  min-height: 100vh;
}
